.Home {
  flex-direction: column;
  font-family: Roboto, sans-serif;
}

@media screen and (min-width: 840px) {
  .Home {
    width: 840px;
    margin: 0 auto;
  }
}

.Home-content {
  padding: 5px;
}
